<nav class="navbar navbar-light" style="height: 100px;background-color: #00ac68;">
    <a routerLink="/captura" ><img src="{{imageSource}}" alt=""></a>
    <span style="color:white;" class="navbar-text">
      Bienvenido (a)
    </span>
</nav>
<ul class="nav nav-tabs" style="height: 50px;background-color: #00ac68;">
        <li class="nav-item" style="width:33.3%">
          <a class="nav-link" routerLink="/captura"  routerLinkActive="active">Captura de prospecto  <fa-icon [icon]="faPen"></fa-icon></a>
        </li>
        <li class="nav-item" style="width:33.3%">
          <a class="nav-link" routerLink="/listado"  routerLinkActive="active">Listado de prospectos  <fa-icon [icon]="faList"></fa-icon></a>
        </li>
        <li class="nav-item" style="width:33.3%">
          <a class="nav-link" routerLink="/evaluacion" routerLinkActive="active">Evaluación de prospectos  <fa-icon [icon]="faListAlt"></fa-icon></a>
        </li>
</ul>
<router-outlet></router-outlet>

